/* Font used from BEfonts at https://befonts.com/ */
@font-face {
    font-family: 'MasterOfBreak';
    src: url('./fonts/MasterOfBreak.woff');
}

.blog-posts-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
}

.jumbotron {
    margin-left: 15%;
    margin-right: 15%;
    padding: 0px;
    text-align: center;
}

.blog-button {
    margin-left: 1%;
    margin-bottom: 0.5%;

}

.main-title {
    font-family: 'MasterOfBreak', Georgia, 'Times New Roman', Times, serif;
}

.blog-button-area {
    margin-bottom: 1%;
}