/* Font used from BEfonts at https://befonts.com/ */
@font-face {
    font-family: 'MasterOfBreak';
    src: url('./fonts/MasterOfBreak.woff');
}

.title {
    font-family: 'MasterOfBreak', Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

textarea[name=description] {
    resize: none;
    max-height: 5em;
  }