/* Font used from BEfonts at https://befonts.com/ */
@font-face {
    font-family: 'MasterOfBreak';
    src: url('./fonts/MasterOfBreak.woff');
}

.create-blog-title {
    font-family: 'MasterOfBreak', Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.form-group {
    margin-top: 1.25%;
    margin-left: 1.25%;
}
