/* Fonts used from BEfonts at https://befonts.com/ */
@font-face {
    font-family: 'MasterOfBreak';
    src: url('./fonts/MasterOfBreak.woff');
}

@font-face {
    font-family: 'Geomanist';
    src: url('./fonts/geomanist-regular-webfont.woff');
}

/* Three fonts are given for redundancy in case some users don't have the correct fonts*/
.welcome-text {
    color: white;
    font-size: 1.2rem;
    font-family: 'Geomanist', Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand {
    color: white;
    font-family: 'MasterOfBreak', Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand:hover {
    color: slategrey;
}

.header-btn {
    margin-left: 0.5rem;
    color: white;
}

.navbar-text {
    padding-left: 1rem;
    color: white;
    font-family: 'Geomanist', Georgia, 'Times New Roman', Times, serif;
}