.header {
    height: 4rem;
    background: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    background-color: green;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    margin-right: 1rem;
}

.login-section {
    float: right;
}

@font-face {
    font-family: 'Audrey';
    src: url('./fonts/Audrey-Normal.woff');
}

/* Three fonts are given for redundancy in case some users don't have the correct fonts*/
/* Be sure to add necessary fonts to the fonts folder */
.header-text {
    font-size: 2rem;
    font-family: 'Audrey', Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
}