.loading-icon {
    display: inline-block;
    margin: 2rem;
    width: 2rem;
    height: 2rem;
    border: 8px solid rgb(200, 208, 216);
    border-radius: 50%;
    border-top: 8px solid blue;
    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }