.loading-outer {
    display: inline-block;
    border-radius: 50%;
    margin: 2rem;
    width: 80px;
    height: 80px;
    border: 8px solid rgb(255, 255, 255);
    border-top: 8px solid rgb(52, 58, 64);
    animation: spin 2s ease-in-out infinite;
}

.loading-inner {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid rgb(108, 117, 125);
    top: 3%;
    left: 3%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }