.login-form {
    display: inline-block;
}

.login-submit-button {
    background-color: slategrey;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.login-input {
    height: 1.8rem;
    font-size: 1rem;
    margin-right: 0.5rem;
    background-color: rgb(158, 211, 158);
}