.container {
  margin: 1%;
  position: relative;
}

.toolbar {
  margin-bottom: 1%;
}

.editor {
  box-sizing: content-box;
  border: 1.5px solid grey;
  cursor: text;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 2.5%;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: whitesmoke;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 300px;
}

