.container {
  margin: 1%;
  position: relative;
}

.toolbar {
  margin-bottom: 1%;
}

.editor {
  border: 1.5px solid grey;
  cursor: text;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 2.5%;
  font-family: 'Calibri';
}

.editor :global(.public-DraftEditor-content) {
  min-height: 300px;
}

