.register-form {
    display: block;
    position: absolute;
    right: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    box-shadow: 5px 5px 5px lightgrey;
    background-color: rgb(144, 200, 214);
    padding: 0.5em;
    margin-top: 0.2em;
}

.register-submit-button {
    width: 100%;
    padding: 0.5rem;
    background-color: slategrey;
    border: none;
    color: white;
    font-size: 1rem;
    margin-top: 0.3em;
}

.register-input {
    display: block;
    margin-top: 0.3em;
    width: 100%;
    height: 1.8rem;
    font-size: 1rem;
}